In [158]:
import numpy as np
import pandas as pd
import re

In [159]:
#read in the csv file
airbnbdf = pd.read_csv('airBnb_Mn_Or.csv',encoding = 'unicode_escape')
airbnbdf.sample(5)

,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy
127,Manhattan,TriBeCa 2500 Sq Ft w/ Priv Elevator,Entire loft,$500,Chester & Jon,431 Reviews,5.0,"['12 guests', '3 bedrooms', '3 beds', '2 baths..."
154,Manhattan,Vibrant Brownstone Penthouse Near Central Park,Entire apartment,$152,John,116 Reviews,5.0,"['6 guests', '1 bedroom', '3 beds', '1 bath', ..."
343,Orlando,Great cozy 3 Bedroom Apartment Universal Orlando,Entire apartment,$62,Kevin,43 Reviews,3.5,"['8 guests', '3 bedrooms', '4 beds', '2 baths'..."
473,Orlando,The Mermaid Suite by Downtown Orlando !,Entire guest suite,$50,Andres & Kelly,59 Reviews,5.0,"['3 guests', '1 bedroom', '1 bed', '1 bath', '..."
463,Orlando,Comfortable Condo 1/1 International Drive Orlando,Entire condominium,$60,Maria,72 Reviews,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ..."

In [160]:
#verify the datatypes
airbnbdf.dtypes

city              object
house_title       object
house_type        object
price             object
owner_name        object
no_of_reviews     object
rating           float64
occupancy         object
dtype: object

In [161]:
airbnbdf.price = airbnbdf.price.astype(str)
airbnbdf.no_of_reviews = airbnbdf.no_of_reviews.astype(str)

In [162]:
def remove_special_chars(val):
    new_val = re.findall('[0-9]',val)
    return "".join(new_val)

airbnbdf.price = airbnbdf.price.apply(remove_special_chars)
print(airbnbdf.price.head(5))

0     91
1     87
2    165
3     88
4     99
Name: price, dtype: object

In [163]:

airbnbdf.no_of_reviews = airbnbdf.no_of_reviews.apply(remove_special_chars)
print(airbnbdf.no_of_reviews.head(5))

0    279
1    137
2    272
3    118
4    162
Name: no_of_reviews, dtype: object

In [164]:
def split_to_list(str_val):
    return str_val.split(",")
    

airbnbdf['occupancy_lst'] = airbnbdf.occupancy.apply(split_to_list)

airbnbdf.occupancy_lst.sample(5)

546    [['4 guests',  '1 bedroom',  '1 bed',  '1 bath...
525    [['5 guests',  '1 bedroom',  '3 beds',  '1 bat...
101    [['5 guests',  '1 bedroom',  '1 bed',  '1 bath...
261    [['4 guests',  '2 bedrooms',  '3 beds',  '1 ba...
480    [['4 guests',  'Studio',  '2 beds',  '1 bath',...
Name: occupancy_lst, dtype: object

In [183]:
len(airbnbdf)

airbnbdf.occupancy_lst[0][0]

"['4 guests'"

In [192]:
airbnbdf = airbnbdf.assign(no_of_guest=airbnbdf.price.mean(), house_size=airbnbdf.price.mean(), no_of_beds = airbnbdf.price.mean(), no_of_baths=airbnbdf.price.mean())

In [207]:
# one time thing, however this is not a nice way to do this
# I learnt using assign function would do it, which I have incorporated in my code later, 
#for eg: airbnbdf.assign(beds=airbnbdf.no_of_beds.apply(remove_chars))

for i in range(len(airbnbdf)):
    try:

        airbnbdf.no_of_guest[i] = airbnbdf.occupancy_lst[i][0]
        airbnbdf.house_size[i]  = airbnbdf.occupancy_lst[i][1]
        airbnbdf.no_of_beds[i]  = airbnbdf.occupancy_lst[i][2]
        airbnbdf.no_of_baths[i]  = airbnbdf.occupancy_lst[i][3]
        
    except:
        continue

C:\Users\priya\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\priya\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\priya\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\priya\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [222]:
print(airbnbdf.dtypes)
airbnbdf.head(30)

city              object
house_title       object
house_type        object
price             object
owner_name        object
no_of_reviews     object
rating           float64
occupancy         object
occupancy_lst     object
no_of_guest       object
house_size        object
no_of_beds        object
no_of_baths       object
dtype: object

,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths
0,Manhattan,A Beautiful Brownstone Apartment,Entire apartment,91,Michael,279,5.0,"['4 guests', 'Studio', '3 beds', '1 bath', '󰀄\...","[['4 guests', 'Studio', '3 beds', '1 bath',...",4,'Studio','3 beds','1 bath'
1,Manhattan,YOUR DREAM SUITE IN MANHATTAN,Private room in apartment,87,Marilyn,137,4.0,"['4 guests', '1 bedroom', '2 beds', '1 private...","[['4 guests', '1 bedroom', '2 beds', '1 pri...",4,'1 bedroom','2 beds','1 private bath'
2,Manhattan,Manhattan's Best Deal!,Entire apartment,165,Adrianne,272,4.5,"['6 guests', '2 bedrooms', '5 beds', '1 bath',...","[['6 guests', '2 bedrooms', '5 beds', '1 ba...",6,'2 bedrooms','5 beds','1 bath'
3,Manhattan,Spacious room near Times Square,Private room in apartment,88,Stephanie,118,4.5,"['4 guests', '1 bedroom', '1 bed', '1 shared b...","[['4 guests', '1 bedroom', '1 bed', '1 shar...",4,'1 bedroom','1 bed','1 shared bath'
4,Manhattan,Entire Apartment Steps from Times Square!!! Fo...,Entire apartment,99,Theresa,162,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath'
5,Manhattan,Modern & Trendy 2-Bedroom 1 Bath Lower Manhattan,Entire apartment,90,Alex,117,5.0,"['5 guests', '2 bedrooms', '3 beds', '1 bath',...","[['5 guests', '2 bedrooms', '3 beds', '1 ba...",5,'2 bedrooms','3 beds','1 bath'
6,Manhattan,LARGE 2 Bedroom Midtown Manhattan Apartment!,Entire apartment,124,Ethan,4,5.0,"['4 guests', '2 bedrooms', '2 beds', '1 bath',...","[['4 guests', '2 bedrooms', '2 beds', '1 ba...",4,'2 bedrooms','2 beds','1 bath'
7,Manhattan,Massive DUPLEX 2BR & 2BATH East Village,Entire apartment,198,Seith,340,4.0,"['8 guests', '2 bedrooms', '4 beds', '2 baths'...","[['8 guests', '2 bedrooms', '4 beds', '2 ba...",8,'2 bedrooms','4 beds','2 baths'
8,Manhattan,Luxury Central Park Apartment close to everything,Entire apartment,199,Bozhena,125,4.5,"['4 guests', '1 bedroom', '4 beds', '1 bath', ...","[['4 guests', '1 bedroom', '4 beds', '1 bat...",4,'1 bedroom','4 beds','1 bath'
9,Manhattan,GREAT AND STYLISH APARTMENT! AMAZING LOCATION!,Entire apartment,110,M. Alejandro,100,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[['3 guests', '1 bedroom', '2 beds', '1 bat...",3,'1 bedroom','2 beds','1 bath'
10,Manhattan,Big renovated studio up to 4 people in Manhattan,Entire apartment,95,Gloria,20,4.5,"['4 guests', 'Studio', '1 bed', '1 bath', '󰀄\n...","[['4 guests', 'Studio', '1 bed', '1 bath', ...",4,'Studio','1 bed','1 bath'
11,Manhattan,GORGEOUS 1 BDR PRIME HELL'S KITCHEN,Entire apartment,134,Konstantin,261,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath'
12,Manhattan,Spacious Room in East Village/NoHo,Private room in apartment,129,Sne,381,5.0,"['3 guests', '1 bedroom', '1 bed', '1 shared b...","[['3 guests', '1 bedroom', '1 bed', '1 shar...",3,'1 bedroom','1 bed','1 shared bath'
13,Manhattan,Manhattan Lux Loft.Like.Love.Lots.Look !,Private room in loft,271,Carol,526,5.0,"['5 guests', '1 bedroom', '3 beds', '1 private...","[['5 guests', '1 bedroom', '3 beds', '1 pri...",5,'1 bedroom','3 beds','1 private bath'
14,Manhattan,Cozy Hell's Kitchen/ Time Square Apartment- 2 BRM,Entire apartment,145,Nivea And Jill,122,4.5,"['8 guests', '2 bedrooms', '4 beds', '1 bath',...","[['8 guests', '2 bedrooms', '4 beds', '1 ba...",8,'2 bedrooms','4 beds','1 bath'
15,Manhattan,"2 Blocks from Times Square, Centrally Located!",Entire apartment,175,Astor,155,4.5,"['5 guests', 'Studio', '4 beds', '1 bath', '󰀄\...","[['5 guests', 'Studio', '4 beds', '1 bath',...",5,'Studio','4 beds','1 bath'
16,Manhattan,Unique Loft GREAT location,Entire apartment,189,Lee,166,4.5,"['6 guests', 'Studio', '3 beds', '1 bath', '󰀄\...","[['6 guests', 'Studio', '3 beds', '1 bath',...",6,'Studio','3 beds','1 bath'
17,Manhattan,â Unique two bedroom on 2nd Avenueâ,Entire apartment,150,Zev,281,4.5,"['5 guests', '2 bedrooms', '3 beds', '1 bath',...","[['5 guests', '2 bedrooms', '3 beds', '1 ba...",5,'2 bedrooms','3 beds','1 bath'
18,Manhattan,Best of the East Village Cozy 2 Bedroom,Entire apartment,100,Katya,203,4.5,"['5 guests', '2 bedrooms', '2 beds', '1 bath',...","[['5 guests', '2 bedrooms', '2 beds', '1 ba...",5,'2 bedrooms','2 beds','1 bath'
19,Manhattan,A Unique studio apartment,Entire apartment,140,Michael,195,5.0,"['3 guests', '1 bedroom', '3 beds', '1 bath', ...","[['3 guests', '1 bedroom', '3 beds', '1 bat...",3,'1 bedroom','3 beds','1 bath'
20,Manhattan,Modern Condo in Midtown,Private room in apartment,159,Welcome To My Place,311,5.0,"['4 guests', '1 bedroom', '1 bed', '1 bath', '...","[['4 guests', '1 bedroom', '1 bed', '1 bath...",4,'1 bedroom','1 bed','1 bath'
21,Manhattan,Cozy Apartment Near Times Square,Entire apartment,135,Mike,225,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[['3 guests', '1 bedroom', '2 beds', '1 bat...",3,'1 bedroom','2 beds','1 bath'
22,Manhattan,Amazingly well located 2 bedroom/2 bath apartment,Entire apartment,125,John,39,4.5,"['6 guests', '2 bedrooms', '3 beds', '2 baths'...","[['6 guests', '2 bedrooms', '3 beds', '2 ba...",6,'2 bedrooms','3 beds','2 baths'
23,Manhattan,RENOVATED/BEST LOCATION in MIDTOWN,Private room in townhouse,190,Marta,162,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath'
24,Manhattan,Near Times Square and Hell's Kitchen,Private room in apartment,140,Claude,343,4.5,"['3 guests', '1 bedroom', '2 beds', '1 shared ...","[['3 guests', '1 bedroom', '2 beds', '1 sha...",3,'1 bedroom','2 beds','1 shared bath'
25,Manhattan,Fun Spacious Midtown Apt near U.N. & Central Park,Entire apartment,175,Christian,129,5.0,"['5 guests', '1 bedroom', '2 beds', '1 bath', ...","[['5 guests', '1 bedroom', '2 beds', '1 bat...",5,'1 bedroom','2 beds','1 bath'
26,Manhattan,Elegant Private Apartment in a Historic Browns...,Private room in townhouse,108,Jacob,104,5.0,"['4 guests', 'Studio', '2 beds', '1 private ba...","[['4 guests', 'Studio', '2 beds', '1 privat...",4,'Studio','2 beds','1 private bath'
27,Manhattan,Cozy Apartment Next To Central Park,Entire apartment,150,Lenny,103,4.5,"['5 guests', '2 bedrooms', '2 beds', '1 bath',...","[['5 guests', '2 bedrooms', '2 beds', '1 ba...",5,'2 bedrooms','2 beds','1 bath'
28,Manhattan,"Manhattan, Room w/ 2 Beds Near Central Park &M...",Private room in house,99,Joo,143,4.5,"['4 guests', '1 bedroom', '2 beds', '1 shared ...","[['4 guests', '1 bedroom', '2 beds', '1 sha...",4,'1 bedroom','2 beds','1 shared bath'
29,Manhattan,Miltons place,Entire apartment,90,Milton,8,5.0,"['4 guests', 'Studio', '0 beds', '1 bath', '󰀄\...","[['4 guests', 'Studio', '0 beds', '1 bath',...",4,'Studio','0 beds','1 bath'

In [210]:
airbnbdf.no_of_guest = airbnbdf.no_of_guest.apply(remove_special_chars)
print(airbnbdf.no_of_guest.head(5))

0    4
1    4
2    6
3    4
4    4
Name: no_of_guest, dtype: object

In [220]:
print(sum(airbnbdf.house_size.isna()))

print(sum(airbnbdf.house_size.isnull()))

0
0

In [294]:
def convert_chars(val):
   ##studio is tagged as 0.5 bedroom
    if val == " 'Studio'":
        new_val = '0.5'
    else:
        new_val = re.findall('[0-9]',val)
    
    return "".join(new_val)

airbnbdf.house_size = airbnbdf.house_size.astype(str)
airbnbdf = airbnbdf.assign(house=airbnbdf.house_size.apply(convert_chars))

airbnbdf.sample(14)

,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
547,Orlando,EXCELLENT LOCATION: Apartment where fun begins!,Entire apartment,64,Alex And Patty,63,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1
551,Orlando,Universal and Convention Center Best Resort St...,Entire apartment,69,Prime Vacation,87,5.0,"['4 guests', 'Studio', '2 beds', '1 bath', '󰀄\...","[['4 guests', 'Studio', '2 beds', '1 bath',...",4,'Studio','2 beds','1 bath',0.5,2,1
171,Manhattan,Huge Room in East Harlem on Madison Avenue,Private room in townhouse,100,Kelvin,73,5.0,"['3 guests', '1 bedroom', '1 bed', '1.5 shared...","[['3 guests', '1 bedroom', '1 bed', '1.5 sh...",3,'1 bedroom','1 bed','1.5 shared baths',1,1,1.5
482,Orlando,Deluxe Condo 1Bedroom/1 Bath by SeaWorld/OBD,Entire apartment,59,Parc,61,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1
375,Orlando,TICO'S HOUSE,Entire guest suite,55,Roberto,52,5.0,"['3 guests', '2 bedrooms', '2 beds', '1 bath',...","[['3 guests', '2 bedrooms', '2 beds', '1 ba...",3,'2 bedrooms','2 beds','1 bath',2,2,1
13,Manhattan,Manhattan Lux Loft.Like.Love.Lots.Look !,Private room in loft,271,Carol,526,5.0,"['5 guests', '1 bedroom', '3 beds', '1 private...","[['5 guests', '1 bedroom', '3 beds', '1 pri...",5,'1 bedroom','3 beds','1 private bath',1,3,1
377,Orlando,DOWNTOWN/THORNTON PARK ENTIRE APARTMENT,Entire apartment,59,Just A Couple Of Girls,76,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1
4,Manhattan,Entire Apartment Steps from Times Square!!! Fo...,Entire apartment,99,Theresa,162,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1
569,Orlando,Apartment Near Universal & SeaWorld Sleeps 4/OBD,Entire condominium,69,Parc,62,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1
366,Orlando,Universal Studios/UNBEATABLE LOCATION 2/2Cozy Apt,Entire condominium,63,Banshee,101,4.5,"['6 guests', '2 bedrooms', '4 beds', '2 baths'...","[['6 guests', '2 bedrooms', '4 beds', '2 ba...",6,'2 bedrooms','4 beds','2 baths',2,4,2
152,Manhattan,Live in New York Near Central Park and Columbi...,Entire apartment,140,Mekkie,76,5.0,"['4 guests', '1 bedroom', '3 beds', '1 bath', ...","[['4 guests', '1 bedroom', '3 beds', '1 bat...",4,'1 bedroom','3 beds','1 bath',1,3,1
286,Manhattan,NYC Top-Floor Mid-Town Apartment (new openings!),Private room in apartment,190,Chuck,21,5.0,"['5 guests', '1 bedroom', '2 beds', '1 private...","[['5 guests', '1 bedroom', '2 beds', '1 pri...",5,'1 bedroom','2 beds','1 private bath',1,2,1
481,Orlando,Disney dream Guest House!,Entire guesthouse,49,Disney,29,4.5,"['4 guests', '1 bedroom', '1 bed', '1 bath', '...","[['4 guests', '1 bedroom', '1 bed', '1 bath...",4,'1 bedroom','1 bed','1 bath',1,1,1
190,Manhattan,"Times Square,center of New York City,7 mins walk!",Entire apartment,169,Grayson,117,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1

In [240]:
def remove_chars(val):
    new_val = re.findall('[0-9.]+',val)
    return "".join(new_val)


airbnbdf.no_of_beds = airbnbdf.no_of_beds.astype(str)
airbnbdf.no_of_baths = airbnbdf.no_of_baths.astype(str)

airbnbdf = airbnbdf.assign(beds=airbnbdf.no_of_beds.apply(remove_chars))
airbnbdf = airbnbdf.assign(bath=airbnbdf.no_of_baths.apply(remove_chars))
airbnbdf.sample(4)

,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
280,Manhattan,"Big 1st Meal, Kind Host, Ace Space",Private room in apartment,134,Nancy,314,4.5,"['3 guests', '2 bedrooms', '3 beds', '1 shared...","[['3 guests', '2 bedrooms', '3 beds', '1 sh...",3,'2 bedrooms','3 beds','1 shared bath',2,3,1
311,Orlando,Discounted-central to everything in Orlando,Entire house,34,Krissy,53,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[['3 guests', '1 bedroom', '2 beds', '1 bat...",3,'1 bedroom','2 beds','1 bath',1,2,1
325,Orlando,The Lake House!,Tiny house,68,Adam,228,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[['3 guests', '1 bedroom', '2 beds', '1 bat...",3,'1 bedroom','2 beds','1 bath',1,2,1
377,Orlando,DOWNTOWN/THORNTON PARK ENTIRE APARTMENT,Entire apartment,59,Just A Couple Of Girls,76,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1

In [295]:
airbnbdf.dtypes

city              object
house_title       object
house_type        object
price             object
owner_name        object
no_of_reviews     object
rating           float64
occupancy         object
occupancy_lst     object
no_of_guest       object
house_size        object
no_of_beds        object
no_of_baths       object
house             object
beds              object
bath              object
dtype: object

In [296]:
(airbnbdf == "none").any() #check for any none values

city             False
house_title      False
house_type       False
price            False
owner_name       False
no_of_reviews    False
rating           False
occupancy        False
occupancy_lst    False
no_of_guest      False
house_size       False
no_of_beds       False
no_of_baths      False
house            False
beds             False
bath             False
dtype: bool

In [297]:
(airbnbdf.isnull()).any()

city             False
house_title       True
house_type        True
price            False
owner_name        True
no_of_reviews    False
rating            True
occupancy        False
occupancy_lst    False
no_of_guest      False
house_size       False
no_of_beds       False
no_of_baths      False
house            False
beds             False
bath             False
dtype: bool

In [247]:
(airbnbdf.isna()).any()

city             False
house_title       True
house_type        True
price            False
owner_name        True
no_of_reviews    False
rating            True
occupancy        False
occupancy_lst    False
no_of_guest      False
house_size       False
no_of_beds       False
no_of_baths      False
house            False
beds             False
bath             False
dtype: bool

In [298]:
print(len(airbnbdf))
airbnbdf.isna().sum().sum() #check num of Nans

612

15

In [250]:
airbnbdf.dropna() #check

,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
0,Manhattan,A Beautiful Brownstone Apartment,Entire apartment,91,Michael,279,5.0,"['4 guests', 'Studio', '3 beds', '1 bath', '󰀄\...","[['4 guests', 'Studio', '3 beds', '1 bath',...",4,'Studio','3 beds','1 bath',0,3,1
1,Manhattan,YOUR DREAM SUITE IN MANHATTAN,Private room in apartment,87,Marilyn,137,4.0,"['4 guests', '1 bedroom', '2 beds', '1 private...","[['4 guests', '1 bedroom', '2 beds', '1 pri...",4,'1 bedroom','2 beds','1 private bath',1,2,1
2,Manhattan,Manhattan's Best Deal!,Entire apartment,165,Adrianne,272,4.5,"['6 guests', '2 bedrooms', '5 beds', '1 bath',...","[['6 guests', '2 bedrooms', '5 beds', '1 ba...",6,'2 bedrooms','5 beds','1 bath',2,5,1
3,Manhattan,Spacious room near Times Square,Private room in apartment,88,Stephanie,118,4.5,"['4 guests', '1 bedroom', '1 bed', '1 shared b...","[['4 guests', '1 bedroom', '1 bed', '1 shar...",4,'1 bedroom','1 bed','1 shared bath',1,1,1
4,Manhattan,Entire Apartment Steps from Times Square!!! Fo...,Entire apartment,99,Theresa,162,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1
5,Manhattan,Modern & Trendy 2-Bedroom 1 Bath Lower Manhattan,Entire apartment,90,Alex,117,5.0,"['5 guests', '2 bedrooms', '3 beds', '1 bath',...","[['5 guests', '2 bedrooms', '3 beds', '1 ba...",5,'2 bedrooms','3 beds','1 bath',2,3,1
6,Manhattan,LARGE 2 Bedroom Midtown Manhattan Apartment!,Entire apartment,124,Ethan,4,5.0,"['4 guests', '2 bedrooms', '2 beds', '1 bath',...","[['4 guests', '2 bedrooms', '2 beds', '1 ba...",4,'2 bedrooms','2 beds','1 bath',2,2,1
7,Manhattan,Massive DUPLEX 2BR & 2BATH East Village,Entire apartment,198,Seith,340,4.0,"['8 guests', '2 bedrooms', '4 beds', '2 baths'...","[['8 guests', '2 bedrooms', '4 beds', '2 ba...",8,'2 bedrooms','4 beds','2 baths',2,4,2
8,Manhattan,Luxury Central Park Apartment close to everything,Entire apartment,199,Bozhena,125,4.5,"['4 guests', '1 bedroom', '4 beds', '1 bath', ...","[['4 guests', '1 bedroom', '4 beds', '1 bat...",4,'1 bedroom','4 beds','1 bath',1,4,1
9,Manhattan,GREAT AND STYLISH APARTMENT! AMAZING LOCATION!,Entire apartment,110,M. Alejandro,100,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[['3 guests', '1 bedroom', '2 beds', '1 bat...",3,'1 bedroom','2 beds','1 bath',1,2,1
10,Manhattan,Big renovated studio up to 4 people in Manhattan,Entire apartment,95,Gloria,20,4.5,"['4 guests', 'Studio', '1 bed', '1 bath', '󰀄\n...","[['4 guests', 'Studio', '1 bed', '1 bath', ...",4,'Studio','1 bed','1 bath',0,1,1
11,Manhattan,GORGEOUS 1 BDR PRIME HELL'S KITCHEN,Entire apartment,134,Konstantin,261,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1
12,Manhattan,Spacious Room in East Village/NoHo,Private room in apartment,129,Sne,381,5.0,"['3 guests', '1 bedroom', '1 bed', '1 shared b...","[['3 guests', '1 bedroom', '1 bed', '1 shar...",3,'1 bedroom','1 bed','1 shared bath',1,1,1
13,Manhattan,Manhattan Lux Loft.Like.Love.Lots.Look !,Private room in loft,271,Carol,526,5.0,"['5 guests', '1 bedroom', '3 beds', '1 private...","[['5 guests', '1 bedroom', '3 beds', '1 pri...",5,'1 bedroom','3 beds','1 private bath',1,3,1
14,Manhattan,Cozy Hell's Kitchen/ Time Square Apartment- 2 BRM,Entire apartment,145,Nivea And Jill,122,4.5,"['8 guests', '2 bedrooms', '4 beds', '1 bath',...","[['8 guests', '2 bedrooms', '4 beds', '1 ba...",8,'2 bedrooms','4 beds','1 bath',2,4,1
15,Manhattan,"2 Blocks from Times Square, Centrally Located!",Entire apartment,175,Astor,155,4.5,"['5 guests', 'Studio', '4 beds', '1 bath', '󰀄\...","[['5 guests', 'Studio', '4 beds', '1 bath',...",5,'Studio','4 beds','1 bath',0,4,1
16,Manhattan,Unique Loft GREAT location,Entire apartment,189,Lee,166,4.5,"['6 guests', 'Studio', '3 beds', '1 bath', '󰀄\...","[['6 guests', 'Studio', '3 beds', '1 bath',...",6,'Studio','3 beds','1 bath',0,3,1
17,Manhattan,â Unique two bedroom on 2nd Avenueâ,Entire apartment,150,Zev,281,4.5,"['5 guests', '2 bedrooms', '3 beds', '1 bath',...","[['5 guests', '2 bedrooms', '3 beds', '1 ba...",5,'2 bedrooms','3 beds','1 bath',2,3,1
18,Manhattan,Best of the East Village Cozy 2 Bedroom,Entire apartment,100,Katya,203,4.5,"['5 guests', '2 bedrooms', '2 beds', '1 bath',...","[['5 guests', '2 bedrooms', '2 beds', '1 ba...",5,'2 bedrooms','2 beds','1 bath',2,2,1
19,Manhattan,A Unique studio apartment,Entire apartment,140,Michael,195,5.0,"['3 guests', '1 bedroom', '3 beds', '1 bath', ...","[['3 guests', '1 bedroom', '3 beds', '1 bat...",3,'1 bedroom','3 beds','1 bath',1,3,1
20,Manhattan,Modern Condo in Midtown,Private room in apartment,159,Welcome To My Place,311,5.0,"['4 guests', '1 bedroom', '1 bed', '1 bath', '...","[['4 guests', '1 bedroom', '1 bed', '1 bath...",4,'1 bedroom','1 bed','1 bath',1,1,1
21,Manhattan,Cozy Apartment Near Times Square,Entire apartment,135,Mike,225,4.5,"['3 guests', '1 bedroom', '2 beds', '1 bath', ...","[['3 guests', '1 bedroom', '2 beds', '1 bat...",3,'1 bedroom','2 beds','1 bath',1,2,1
22,Manhattan,Amazingly well located 2 bedroom/2 bath apartment,Entire apartment,125,John,39,4.5,"['6 guests', '2 bedrooms', '3 beds', '2 baths'...","[['6 guests', '2 bedrooms', '3 beds', '2 ba...",6,'2 bedrooms','3 beds','2 baths',2,3,2
23,Manhattan,RENOVATED/BEST LOCATION in MIDTOWN,Private room in townhouse,190,Marta,162,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1
24,Manhattan,Near Times Square and Hell's Kitchen,Private room in apartment,140,Claude,343,4.5,"['3 guests', '1 bedroom', '2 beds', '1 shared ...","[['3 guests', '1 bedroom', '2 beds', '1 sha...",3,'1 bedroom','2 beds','1 shared bath',1,2,1
25,Manhattan,Fun Spacious Midtown Apt near U.N. & Central Park,Entire apartment,175,Christian,129,5.0,"['5 guests', '1 bedroom', '2 beds', '1 bath', ...","[['5 guests', '1 bedroom', '2 beds', '1 bat...",5,'1 bedroom','2 beds','1 bath',1,2,1
26,Manhattan,Elegant Private Apartment in a Historic Browns...,Private room in townhouse,108,Jacob,104,5.0,"['4 guests', 'Studio', '2 beds', '1 private ba...","[['4 guests', 'Studio', '2 beds', '1 privat...",4,'Studio','2 beds','1 private bath',0,2,1
27,Manhattan,Cozy Apartment Next To Central Park,Entire apartment,150,Lenny,103,4.5,"['5 guests', '2 bedrooms', '2 beds', '1 bath',...","[['5 guests', '2 bedrooms', '2 beds', '1 ba...",5,'2 bedrooms','2 beds','1 bath',2,2,1
28,Manhattan,"Manhattan, Room w/ 2 Beds Near Central Park &M...",Private room in house,99,Joo,143,4.5,"['4 guests', '1 bedroom', '2 beds', '1 shared ...","[['4 guests', '1 bedroom', '2 beds', '1 sha...",4,'1 bedroom','2 beds','1 shared bath',1,2,1
29,Manhattan,Miltons place,Entire apartment,90,Milton,8,5.0,"['4 guests', 'Studio', '0 beds', '1 bath', '󰀄\...","[['4 guests', 'Studio', '0 beds', '1 bath',...",4,'Studio','0 beds','1 bath',0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,Orlando,Apt E -Cozy Comfort in the Heart of Winter Park,Entire condominium,76,Christopher,75,5.0,"['4 guests', '2 bedrooms', '2 beds', '1 bath',...","[['4 guests', '2 bedrooms', '2 beds', '1 ba...",4,'2 bedrooms','2 beds','1 bath',2,2,1
582,Orlando,Disney/Universal Guest House (private entrance),Entire guesthouse,100,Juliana,79,5.0,"['6 guests', '1 bedroom', '2 beds', '1 bath', ...","[['6 guests', '1 bedroom', '2 beds', '1 bat...",6,'1 bedroom','2 beds','1 bath',1,2,1
583,Orlando,Spacious Town-home at Park Central,Entire townhouse,80,Vikhy,70,5.0,"['6 guests', '3 bedrooms', '4 beds', '2 baths'...","[['6 guests', '3 bedrooms', '4 beds', '2 ba...",6,'3 bedrooms','4 beds','2 baths',3,4,2
584,Orlando,"2 Bed Condo near Sea World, Disney",Entire condominium,64,Martin & Sarah,235,4.5,"['6 guests', '2 bedrooms', '3 beds', '2 baths'...","[['6 guests', '2 bedrooms', '3 beds', '2 ba...",6,'2 bedrooms','3 beds','2 baths',2,3,2
585,Orlando,3-story townhome sleeps up to 10!!!,Entire townhouse,135,Dennis,82,5.0,"['10 guests', '3 bedrooms', '4 beds', '3.5 bat...","[['10 guests', '3 bedrooms', '4 beds', '3.5...",10,'3 bedrooms','4 beds','3.5 baths',3,4,3.5
586,Orlando,"Spacious 2Bdrm/2.5Ba house, Mins To Parks & Shops",Entire townhouse,69,Jennifer,51,4.5,"['6 guests', '2 bedrooms', '4 beds', '2.5 bath...","[['6 guests', '2 bedrooms', '4 beds', '2.5 ...",6,'2 bedrooms','4 beds','2.5 baths',2,4,2.5
587,Orlando,Ayric 2,Entire condominium,60,Singular,57,5.0,"['4 guests', '2 bedrooms', '2 beds', '2 baths'...","[['4 guests', '2 bedrooms', '2 beds', '2 ba...",4,'2 bedrooms','2 beds','2 baths',2,2,2
588,Orlando,Private Cottage Minutes from Universal Parks,Entire guesthouse,89,Orlando,21,5.0,"['4 guests', '2 bedrooms', '3 beds', '1 bath',...","[['4 guests', '2 bedrooms', '3 beds', '1 ba...",4,'2 bedrooms','3 beds','1 bath',2,3,1
589,Orlando,"FantasticView, 1 Bedroom 1 mile to Disney slee...",Entire condominium,45,John,29,5.0,"['6 guests', '1 bedroom', '4 beds', '2 baths',...","[['6 guests', '1 bedroom', '4 beds', '2 bat...",6,'1 bedroom','4 beds','2 baths',1,4,2
590,Orlando,Private rooms (2bd) near the Orlando Airport,Private room in house,60,Krizia,31,5.0,"['4 guests', '2 bedrooms', '2 beds', '1 privat...","[['4 guests', '2 bedrooms', '2 beds', '1 pr...",4,'2 bedrooms','2 beds','1 private bath',2,2,1
591,Orlando,Home Away From Home 2,Entire apartment,69,Liz Great Place To Relax,57,4.5,"['4 guests', 'Studio', '2 beds', '1 bath', '󰀄\...","[['4 guests', 'Studio', '2 beds', '1 bath',...",4,'Studio','2 beds','1 bath',0,2,1
592,Orlando,WOW!!!! Great Deal-DISNEY/UNIVERSAL/MILLENIA M...,Entire condominium,70,Gissela,48,4.5,"['4 guests', '1 bedroom', '3 beds', '1 bath', ...","[['4 guests', '1 bedroom', '3 beds', '1 bat...",4,'1 bedroom','3 beds','1 bath',1,3,1
593,Orlando,Park Lake Street cottage,Entire guesthouse,47,Mohamed,46,4.5,"['4 guests', '1 bedroom', '1 bed', '1 bath', '...","[['4 guests', '1 bedroom', '1 bed', '1 bath...",4,'1 bedroom','1 bed','1 bath',1,1,1
594,Orlando,Private room Disney (w/private bath) up 4 people,Private room in apartment,63,ValÃ©ria,29,5.0,"['4 guests', '1 bedroom', '2 beds', '1 private...","[['4 guests', '1 bedroom', '2 beds', '1 pri...",4,'1 bedroom','2 beds','1 private bath',1,2,1
595,Orlando,Park Lake Street cottage,Entire guesthouse,47,Mohamed,46,4.5,"['4 guests', '1 bedroom', '1 bed', '1 bath', '...","[['4 guests', '1 bedroom', '1 bed', '1 bath...",4,'1 bedroom','1 bed','1 bath',1,1,1
596,Orlando,Greenwood urban wetlands duplex,Entire apartment,100,Bryan,20,4.5,"['4 guests', '2 bedrooms', '2 beds', '1 bath',...","[['4 guests', '2 bedrooms', '2 beds', '1 ba...",4,'2 bedrooms','2 beds','1 bath',2,2,1
597,Orlando,Sheraton Vistana Family Villa 2BR,Entire apartment,99,Donna,5,5.0,"['8 guests', '2 bedrooms', '4 beds', '2 baths'...","[['8 guests', '2 bedrooms', '4 beds', '2 ba...",8,'2 bedrooms','4 beds','2 baths',2,4,2
598,Orlando,"Modern,Cosy!-Universal/Volcano/Disney/Camping ...",Entire apartment,60,Sergio,30,4.5,"['4 guests', '1 bedroom', '3 beds', '1 bath', ...","[['4 guests', '1 bedroom', '3 beds', '1 bat...",4,'1 bedroom','3 beds','1 bath',1,3,1
600,Orlando,4A Spacious Luxury Disney Universal SeaW OCC,Entire apartment,59,Suitehomeliving,44,5.0,"['4 guests', '2 bedrooms', '2 beds', '2 baths'...","[['4 guests', '2 bedrooms', '2 beds', '2 ba...",4,'2 bedrooms','2 beds','2 baths',2,2,2
601,Orlando,Orlando Vacation Condo - 3bed/2bath,Entire apartment,120,Marize,181,5.0,"['7 guests', '3 bedrooms', '4 beds', '2 baths'...","[['7 guests', '3 bedrooms', '4 beds', '2 ba...",7,'3 bedrooms','4 beds','2 baths',3,4,2
602,Orlando,Modern Studio in Downtown Orlando,Entire apartment,114,Rafael,278,5.0,"['3 guests', 'Studio', '2 beds', '1 bath', '󰀄\...","[['3 guests', 'Studio', '2 beds', '1 bath',...",3,'Studio','2 beds','1 bath',0,2,1
603,Orlando,CLOSE TO AIRPORT - Family or Friends Connections,Private room in house,36,Mirna,45,5.0,"['3 guests', '1 bedroom', '2 beds', '1 shared ...","[['3 guests', '1 bedroom', '2 beds', '1 sha...",3,'1 bedroom','2 beds','1 shared bath',1,2,1
604,Orlando,RESORT STUDIO NEAR FL ATTRACTIONS.â¤GREAT LOC...,Entire condominium,78,Aj,84,4.5,"['4 guests', 'Studio', '2 beds', '1 bath', '󰀄\...","[['4 guests', 'Studio', '2 beds', '1 bath',...",4,'Studio','2 beds','1 bath',0,2,1
605,Orlando,"Warm 2BR w/ Pool + Gym Near Universal, Disney",Entire apartment,100,Lyric,43,5.0,"['5 guests', '2 bedrooms', '3 beds', '2 baths'...","[['5 guests', '2 bedrooms', '3 beds', '2 ba...",5,'2 bedrooms','3 beds','2 baths',2,3,2
606,Orlando,BELÃSSIMA HOSPEDAGEM NA DISNEY!,Private room in house,30,Max,31,5.0,"['4 guests', '1 bedroom', '1 bed', '1 private ...","[['4 guests', '1 bedroom', '1 bed', '1 priv...",4,'1 bedroom','1 bed','1 private bath',1,1,1
607,Orlando,Entire Home (3Bd/2Ba)-Universal/Disney/Outlet/...,Entire townhouse,85,Aninha,61,5.0,"['10 guests', '3 bedrooms', '5 beds', '2 baths...","[['10 guests', '3 bedrooms', '5 beds', '2 b...",10,'3 bedrooms','5 beds','2 baths',3,5,2
608,Orlando,LAKEFRONT CONDO LESS THEN A MILE TO DISNEY WORLD,Entire serviced apartment,89,Nicoleta,59,5.0,"['5 guests', '1 bedroom', '3 beds', '2 baths',...","[['5 guests', '1 bedroom', '3 beds', '2 bat...",5,'1 bedroom','3 beds','2 baths',1,3,2
609,Orlando,Spacious apartment near lake with a car garage,Entire guest suite,100,Idaliz,171,4.5,"['6 guests', '1 bedroom', '3 beds', '1 bath', ...","[['6 guests', '1 bedroom', '3 beds', '1 bat...",6,'1 bedroom','3 beds','1 bath',1,3,1
610,Orlando,Incredible 2BR w/ Pool Near Universal + Disney,Entire apartment,99,Lyric,62,4.5,"['5 guests', '2 bedrooms', '4 beds', '2 baths'...","[['5 guests', '2 bedrooms', '4 beds', '2 ba...",5,'2 bedrooms','4 beds','2 baths',2,4,2
611,Orlando,Orlando -Millenia and Universal 2/2,Entire condominium,85,Claudio,114,5.0,"['4 guests', '2 bedrooms', '2 beds', '2 baths'...","[['4 guests', '2 bedrooms', '2 beds', '2 ba...",4,'2 bedrooms','2 beds','2 baths',2,2,2

In [299]:
airbnbdfClean = airbnbdf.dropna() #drop all NaN's

In [300]:
# cross verify

print(len(airbnbdfClean))
airbnbdfClean.isna().sum().sum() #check num of Nans

600

0

In [301]:
airbnbdfClean.loc[airbnbdfClean.price == ''] # these 2 rows have empty price, should be cleaned

,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
139,Manhattan,Large private bedroom 1 stop from Manhattan,Private room in condominium,,Richard,24,4.5,"['4 guests', '1 bedroom', '2 beds', '2 shared ...","[['4 guests', '1 bedroom', '2 beds', '2 sha...",4,'1 bedroom','2 beds','2 shared baths',1,2,2
494,Orlando,Cozy Suite | Shuttle to Disney World + SeaWorl...,Entire condominium,,Staysky Suites By Leavetown,17,4.5,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4,'1 bedroom','2 beds','1 bath',1,2,1

In [302]:
print(airbnbdfClean.shape) # check  shape before dropping 2 rows
airbnbdfClean = airbnbdfClean.drop([139,494], axis=0)
airbnbdfClean.shape # check  shape after dropping 2 rows

(600, 16)

(598, 16)

In [303]:
#convert price to float
airbnbdfClean.price=airbnbdfClean.price.astype(float)

In [304]:
#convert no_of_reviews to float
airbnbdfClean.no_of_reviews=airbnbdfClean.no_of_reviews.astype(int)

In [305]:
#convert no_of_guest to float
airbnbdfClean.no_of_guest=airbnbdfClean.no_of_guest.astype(float)

In [306]:
#convert house to float
airbnbdfClean.house=airbnbdfClean.house.astype(float)

In [307]:
#convert house to float
airbnbdfClean.beds=airbnbdfClean.beds.astype(float)

In [308]:
#convert house to float
airbnbdfClean.bath=airbnbdfClean.bath.astype(float)

In [309]:
airbnbdfClean.dtypes

city              object
house_title       object
house_type        object
price            float64
owner_name        object
no_of_reviews      int32
rating           float64
occupancy         object
occupancy_lst     object
no_of_guest      float64
house_size        object
no_of_beds        object
no_of_baths       object
house            float64
beds             float64
bath             float64
dtype: object

In [312]:
airbnbdfClean.sample(5)

,city,house_title,house_type,price,owner_name,no_of_reviews,rating,occupancy,occupancy_lst,no_of_guest,house_size,no_of_beds,no_of_baths,house,beds,bath
146,Manhattan,Garden Oasis Apartment - 2 bedroom,Entire apartment,200.0,Julia,157,4.5,"['6 guests', '2 bedrooms', '3 beds', '1 bath',...","[['6 guests', '2 bedrooms', '3 beds', '1 ba...",6.0,'2 bedrooms','3 beds','1 bath',2.0,3.0,1.0
427,Orlando,Studio Apartment attached to House. Free Break...,Entire apartment,90.0,Jana,133,5.0,"['4 guests', '1 bedroom', '3 beds', '1 bath', ...","[['4 guests', '1 bedroom', '3 beds', '1 bat...",4.0,'1 bedroom','3 beds','1 bath',1.0,3.0,1.0
108,Manhattan,Victorian Sanctuary in a Historic Brownstone,Private room in townhouse,98.0,Jacob,83,4.5,"['3 guests', '1 bedroom', '2 beds', '1 shared ...","[['3 guests', '1 bedroom', '2 beds', '1 sha...",3.0,'1 bedroom','2 beds','1 shared bath',1.0,2.0,1.0
374,Orlando,The Chilling Spot,Entire apartment,65.0,Arturo,134,4.5,"['4 guests', 'Studio', '2 beds', '1 bath', '󰀄\...","[['4 guests', 'Studio', '2 beds', '1 bath',...",4.0,'Studio','2 beds','1 bath',0.5,2.0,1.0
444,Orlando,Cozy Unit NEXT TO the UNIVERSAL and Other Park...,Entire apartment,74.0,Ekko,41,5.0,"['4 guests', '1 bedroom', '2 beds', '1 bath', ...","[['4 guests', '1 bedroom', '2 beds', '1 bat...",4.0,'1 bedroom','2 beds','1 bath',1.0,2.0,1.0

In [290]:
airbnbdfClean.corr() # when studio was manipulated to 0

,price,no_of_reviews,rating,no_of_guest,house,beds,bath
price,1.000000,0.320049,-0.024261,0.033387,0.047266,-0.039453,-0.114816
no_of_reviews,0.320049,1.000000,0.036433,-0.067499,-0.064229,-0.091969,-0.084881
rating,-0.024261,0.036433,1.000000,-0.144983,-0.041310,-0.075054,-0.042387
no_of_guest,0.033387,-0.067499,-0.144983,1.000000,0.649245,0.699479,0.376099
house,0.047266,-0.064229,-0.041310,0.649245,1.000000,0.604804,0.400941
beds,-0.039453,-0.091969,-0.075054,0.699479,0.604804,1.000000,0.313672
bath,-0.114816,-0.084881,-0.042387,0.376099,0.400941,0.313672,1.000000

In [313]:
airbnbdfClean.corr() # when studio was manipulated to 0.5

,price,no_of_reviews,rating,no_of_guest,house,beds,bath
price,1.000000,0.320049,-0.024261,0.033387,0.053818,-0.039453,-0.114816
no_of_reviews,0.320049,1.000000,0.036433,-0.067499,-0.065619,-0.091969,-0.084881
rating,-0.024261,0.036433,1.000000,-0.144983,-0.047772,-0.075054,-0.042387
no_of_guest,0.033387,-0.067499,-0.144983,1.000000,0.683654,0.699479,0.376099
house,0.053818,-0.065619,-0.047772,0.683654,1.000000,0.635413,0.416360
beds,-0.039453,-0.091969,-0.075054,0.699479,0.635413,1.000000,0.313672
bath,-0.114816,-0.084881,-0.042387,0.376099,0.416360,0.313672,1.000000

In [315]:
# write the cleaned and massaged data to csv for future analysis

airbnbdfClean.to_csv('airbnbdfClean.csv')